
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018/09/29, 11:49:20
    Author     : まこと
*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

.header{
    
  background-color: #26d0c9;
  color: #fff;
  height: 75px;
}

.header-logo{
    float:left;
    padding: 10px 40px;
    font-size:36px;
}

.header-list{

}

.header-list li{
float:left;
  padding: 20px 30px;
  color:black;
  font-size:25px;
}

.main{
    padding: 10px 20px;
}

.copy-container{

}

.copy-container h1{
    font-size:40px;
}

.copy-container h2{
    font-size: 30px;
    color:blue;
    padding:20px 0px;
}

.copy-container span{
    color:red;
}

.contents{
   height:300px;
}

.section-title{
      border-bottom: 2px solid #dee7ec;
}

.contents-art{
   float:left;
   padding:20px 40px;
}

.contact-form{
    
}

.contact-form p{
   padding-top: 20px;
}

input,textarea{
    width:200px;
}

.contact-submit{
    padding:10px 0px;
}

.footer{
      background-color: #26d0c9;
      height:90px;
      padding:20px;
}

.footer-logo{
      color:white;
      font-size:25px;
      float:left;
}

.footer-list{
     float:right;  
     padding:10px ;
}

.footer-list li{
         padding:5px 0px;
}